.row{
    padding: 50px ;
}
.card{
    padding: 10px;
}
.w3-row-padding{
    padding-top: 100px;
}


nav .dropdown-item{
    background-color: black;
    color: white;
}
header{
     position: sticky;
    top: 0;
    z-index: 2;
} 
